@media (min-width: 320px) {
    *{
        max-width: 1300px;
        margin: auto;
    }
    header{
        max-width: 90%;
    }
    #menu nav ul li {
        display: inline-block;
    }
    #animate{
        margin: auto;
    }
    nav, nav.close{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    
    #menu{
        max-width: 90%;
    }
    #ktb{
        position: absolute;
        bottom: 10%;
        left: 80%;
    }
    .hero img{
        max-width: 90%;
    }
    .sections{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        max-width: 90%;
        margin-left: 5%;
        gap: 1rem;
    }
    #s1{
        grid-column:1/3;
    }
    #s2{
        grid-column: 3;
    }
    #s3{
        grid-column: 4;
    }
    footer{
        max-width: 90%;
        margin: auto;
        margin-top: 2rem;
    }
    .foot{
        display: flex;
	    justify-content: center;
    }
    #hamburger{
        display: none;
    }
    section.cards{
        margin: unset;
        padding: 0;
    }
    div.cards section {
        margin: 0;
    }
    .list{

    }
    .mainform fieldset{
        display: grid;
        justify-items: start;
        border-radius: 15px;
        max-width: 80%;    
    }
    .MainJoin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 8fr;
    }
    .MainJoin *{
        margin: 0;
    }
    .MainJoin label{
        display: block;
    }
    .MainJoin h1{
        grid-column:-1/1;
        padding-top: .5rem;
    }
    .MainJoin h2{
        display: flex;
        justify-content: center;
    }
    .MainJoin h3{
        padding-top: .5rem;
    }
    .MainJoin fieldset label{
        padding-top: .5rem;
    }
    .MainJoin input[type="text"], .MainJoin input[type="tel"],.MainJoin input[type="email"], .MainJoin fieldset label{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .MainJoin dialog{
        margin: auto;
    }
    #splace{
        grid-template-areas: 
        "pic name"
        "pic description"
        "pic address"
        "button button";
    }
    #splace figure{
        min-width: 150px;
        height: auto;
        margin: auto;
    }
    #avm{
        max-width: unset;
    }
    #vm{
        display: grid;
        justify-items: end;
    }
    @media (min-width: 1025px) {
        #splace{
            grid-template-areas: 
            "name name"
            "pic description"
            "pic address"
            "button button";
        }
        #splace figure{
            margin-left: 1rem;
        }
        .pcards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 95%;
        }
    }
}