@media (min-width: 320px) {
	.ppicture {
        max-width: 10rem;
        height: auto;
        padding-right: 3rem;
      }
      header {
        background-color:var(--accent2-color);
        display: flex;
        justify-content: center;
        padding: 20px;
        border: 1px solid rgb(0 0 0 / 0.1);
        align-items: center;
        font-size: 3rem;
    }
    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    nav, nav.close{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .iflex{
        gap: 1rem;
    }
    nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    .s1 {
        flex: 2;
    }
    
    .s2 {
        flex: 1;
    }
    
    .s3 {
        width: 100%;
        margin-top: 2rem;
    }
    .s3,.s2,.s1 {
        margin-bottom: 0;
    }
    .button-row {
        flex-direction:row;
        gap: 1rem;
        justify-content: space-evenly;
        margin: 0 1rem;
        margin-top: 1rem;
    }
    .button-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 1rem;
    }
    .button, .buttonw, .buttonr {
        width: 100%;
    }
    footer{
        margin-top: 2rem;
    }
    .hamburger{
        display: none;
    }
    .foot{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center
    }
    #menu{
        grid-template-columns: 1fr;
    }
}
